SOAP/11.1. Praktyka XSD.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.kodilla.com"
		xmlns="http://www.kodilla.com"
		elementFormDefault="qualified">

	<xs:element name="car">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="color" type="xs:string" default="black"/>
				<xs:element name="productionYear" type="xs:integer"/>
				<xs:element name="capacity" type="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema> 